.preview {
  display: flex;
  flex-direction: column;
  background: url('../img/phone/1.jpg') center/cover no-repeat;

  min-height: 119vh;

  padding-top: 25vh;
  margin-top: -25vh;
  

  @include below(768px) {
    background-position: 85% 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 45vh;

    @include below(900px) {
      box-shadow: none;
    }

  }

  &__price {
    margin-top: 16px;

    text-align: center;
  }

  &__phone-img {
    margin-top: 30px;
  }

  &__btn {
    margin: 48px auto 48px auto;
  }

  &__info {
    margin-top: 60px;

    text-align: center;
  }

  &__phone-img-second {
    margin-top: 48px;

    img {
      @include below(900px) {
        min-height: 300px;
      }
    }

  }

}